[Unit]
Description=Backup home directory

[Service]
Type=simple
ExecStart=rsync -a --delete --quiet --exclude=.cache --exclude=Nextcloud --exclude=storage --exclude=kvm_storage --exclude=".*" %h {{ .system.backup_dir }}
StandardError=journal

