[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/hlissner/doom-emacs.git
	branch = develop
[submodule "doom.d"]
	path = doom.d
	url = https://github.com/Jimx-/doom-emacs-private.git
