[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = true

[merge]
    conflictstyle = zdiff3

[user]
	email = {{ .github.email }}
	name = {{ .github.name }}
    {{ if (index .github "signingkey") }}
    signingkey = {{ .github.signingkey }}
    {{ end }}

[commit]
    {{ if (index .github "signingkey") }}
    gpgsign = true
    {{ end }}
