[Unit]
Description=Timer for Backup home directory

[Timer]
Unit=backup.service

OnCalendar=*-*-* 12:00:00
Persistent=true

[Install]
WantedBy=timers.target

